@background: #fff;
@base: #212121;
@page-background: #f1f1f1;


body {

	background-color: @page-background;
}

h1, h2, h3, h4, h5, h6, .navbar-brand, .btn {
	font-family: 'Questrial', sans-serif;
	color: @base;
}

.meta {
	padding: 5px 10px 10px 10px;
	color: lighten(@base, 30%);
	text-transform: uppercase;
	font-size: 11px;
}

@import "categories.less";

img.velo-image {
	width: 100%;
}
span.lang {
	position: absolute;
	top: 5px;
	right: 20px;
	font-size: 14px;
	background-color: white;
	border-radius: 3px;
	color: black;
	text-transform: uppercase;
	padding: 4px;
}

.jumbotron {
	background-color: @background;
	color: @base;
}

@import "navbar.less";
@import "article.less";
@import "teaser.less";
@import "widgets.less";
@import "post.less";
