@background: #fff;
@base: #212121;
@page-background: #f1f1f1;


body {

	background-color: @page-background;
}

h1, h2, h3, h4, h5, h6, .navbar-brand, .btn {
	font-family: 'Questrial', sans-serif;
	color: @base;
}

.meta {
	padding: 5px 10px 10px 10px;
	color: lighten(@base, 30%);
	text-transform: uppercase;
	font-size: 11px;
}

@import "categories.less";

img.velo-image {
	width: 100%;
}
span.lang {
	position: absolute;
	top: 5px;
	right: 20px;
	font-size: 14px;
	background-color: white;
	border-radius: 3px;
	color: black;
	text-transform: uppercase;
	padding: 4px;
}

.jumbotron {
	background-color: @background;
	color: @base;
}

@import "navbar.less";
@import "article.less";
@import "teaser.less";
@import "widgets.less";
@import "post.less";


footer {
	margin-bottom: 40px;
	color: darken(@page-background, 30%);

}
.icon {
	width: 20px;
	height: 20px;
	display: inline-block;
	line-height: 10px;
	vertical-align: middle;
	position: relative;
	border-radius: 3px;
	overflow: hidden;
	margin: 0 10px 0 0;
	border-style: solid;
	border-width: 1px;
	
	& + .icon {
		margin-left: -5px;
	}
}

.icon.ch {
	background-color: red;

	&:before,
	&:after {
		position: absolute;
		background-color: white;
		content: "";
		display: block;
		top: 20%;
		right: 40%;
		bottom: 20%;
		left: 40%;
	}
	&:after {
		top: 40%;
		right: 20%;
		bottom: 40%;
		left: 20%;
	}
}
.icon.zu {
	background-color: #1aa5ff;

	&:before {
		display: block;
		content: "";
		border-style: solid;
		border-width: 10px;
		border-color: rgba(255, 255, 255, 1) rgba(255, 255, 255, 1) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
	}
}


