.single-post, .page {
	
	.loop {
		margin-top: 50px;
	}


	.post, .page {
		padding-bottom: 20px;
		background-color: @background;
		box-shadow: 0 10px 20px darken(@background, 20%);

		& > img {
			width: 100%;
		}

		h1 {
			border-top-width: 3px;
			border-top-style: solid;
			margin: 0;
			padding: 20px 20px 0 20px;
			color: @base !important;
		}

		.meta {
			padding-left: 20px;
		}

		&.no-image {
			// padding: 40px 0;
		}

		p {
			padding: 0 20px;
		}

		.wp-caption {
			background-color: #eee;
			width: auto !important;
			margin-bottom: 10px;

			p {
				padding: 5px 10px;
				margin: 0;
				font-style: italic;
			}
		}
		.alignright {
			float: right;
			margin-left: 20px;
		}
		.alignleft {
			float: left;
			margin-right: 20px;
		}
		.aligncenter {
			margin: auto;
			display: block;
		}
		.alignnone {

		}

		.share {
			padding: 20px;

			.twitter-share-button,
			.fb-like {
				float: left;
				margin-right: 10px;
				display: block;
			}
		}
	}
}